[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-email{
	width: 18px;
	height: 18px;
	background: url(../img/icons/email.png) no-repeat center center;
}

.icon-phone{
	width: 16px;
	height: 16px;
	background: url(../img/icons/phone.png) no-repeat center center;
}

.icon-arrow-right{
	width: 19px;
	height: 9px;
	background: url(../img/icons/arrow-right.png) no-repeat center center;
}

.icon-arrow-right-big{
	width: 32px;
	height: 11px;
	background: url(../img/icons/arrow-right-big.png) no-repeat center center;
}

.icon-arrow-left-big{
	width: 32px;
	height: 11px;
	background: url(../img/icons/arrow-left-big.png) no-repeat center center;
}

.icon-location{
	width: 13px;
	height: 18px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-camera{
	width: 24px;
	height: 20px;
	background: url(../img/icons/camera.png) no-repeat center center;
}

.icon-circled-tick{
	width: 45px;
	height: 45px;
	background: url(../img/icons/circled-tick.png) no-repeat center center;
}

.icon-building{
	width: 14px;
	height: 16px;
	background: url(../img/icons/building.png) no-repeat center center;
}

.icon-chevron-left{
	width: 9px;
	height: 14px;
	background: url(../img/icons/chevron-left.png) no-repeat center center;
}

.icon-chevron-right{
	width: 9px;
	height: 14px;
	background: url(../img/icons/chevron-right.png) no-repeat center center;
}

.icon-doc-find{
	width: 52px;
	height: 64px;
	background: url(../img/icons/doc-find.png) no-repeat center center;
}

.icon-location-green{
	width: 14px;
	height: 21px;
	background: url(../img/icons/location-green.png) no-repeat center center;
}

.icon-clock{
	width: 18px;
	height: 18px;
	background: url(../img/icons/clock.png) no-repeat center center;
}