.text-section {
  padding: 80px 0;
  background: #f3f3f3; }
  .text-section .section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .text-section .section-inner .section-content,
    .text-section .section-inner .section-image {
      width: calc(50% - 15px); }
    .text-section .section-inner .section-image img {
      display: block;
      max-width: 100%;
      height: auto; }
