.news-card{
	display: flex;
	height: 100%;
	flex-direction: column;
	background: #fff;
	border-bottom: 3px solid $primary;
	box-shadow: 7px 7px 25px rgba(#001531, .08);
	position: relative;

	.card-image{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		flex: none;
		background: #ddd;
		position: relative;

		&:before{
			content: '';
			display: block;
			padding-top: 64.86%;
			width: 100%;
			transition: all $t;
		}

		&:after{
			content: 'Подробнее...';
			display: flex;
			padding: 5px 25px;
			height: 40px;
			background: rgba(#000, .7);
			border-radius: 20px;
			text-align: center;
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all $t;
			color: #fff;
			font-size: 18px;
			line-height: 30px;
			box-sizing: border-box;
			letter-spacing: 0.05em;
			font-family: $second-font;
		}
	}

	.card-content{
		flex: auto;
		padding: 25px 20px;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.card-caption{
			color: $text-dark;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: 0.05em;
			font-weight: bold;
			font-family: $second-font;
			margin-bottom: 10px;
			flex: none;

			a{
				color: $text-dark;
				text-decoration: underline;

				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}

		.card-excerpt{
			flex: auto;
			margin-bottom: 20px;
		}

		.card-date{
			font-size: 14px;
			line-height: 18px;
		}
	}

	&:hover{
		.card-image{
			&:before{
				background: rgba(#000, .2);
			}

			&:after{
				top: 50%;
				opacity: 1;
			}
		}

		.card-content{
			.card-caption{
				a{
					color: $accent;
				}
			}
		}
	}
}