.why-we-section{
	background: $body-bg;
	box-shadow: 7px 7px 25px rgba(#001531, .08);
	padding: 85px 0 65px;

	.section-caption{
		margin-bottom: 35px;
	}
}

.why-we-mobile-section{
	background: #f3f3f3;
	padding: 40px 0;
}

.why-we-slider{
	border: 1px solid #d6d6d6;

	.slide{
		background: #fff;
	}
}